/*主体部分*/
/*大屏*/
@media screen and (min-width : 1000px){
	/*轮播图*/
	.swiper-container {width: 100%;}
    .swiper-slide { text-align: center;font-size: 18px;background: #fff;/* Center slide text vertically */display: -webkit-box;display: -ms-flexbox;display: -webkit-flex;display: flex;-webkit-box-pack: center;-ms-flex-pack: center;-webkit-justify-content: center;justify-content: center;-webkit-box-align: center;-ms-flex-align: center;-webkit-align-items: center;align-items: center;
    }
    .swiper-wrapper .swiper-slide img{width: 100%;height: 100%;}
	/*轮播图结束*/
	.main{}
	.appDownload{width: 100%;position: relative;}
	.appDownload img{width: 100%;height: 100%;}
	a.download{text-align: center;border: 2px solid #fff;display: block;position:absolute;left: 0;right: 0;top: auto;bottom: 150px;width: 200px;height: 50px;font-size: 20px;font-weight: bold;line-height: 50px;margin: auto;color: #ffffff;border-radius: 20px;}
	a.download:hover{color: #3c76e7;transition: 0.5s all;background-color: #fff;}
	.appDownload ul{width: 100%;}
	.appDownload ul li{width: 25%;text-align: center;color: #fff;padding: 12px 0;}
	.appDownload ul li h1{font-size: 30px;}
	.appDownload ul li p{font-size: 16px;}
	.bgc1{background-color: #1858d3;}
	.bgc2{background-color: #1b5fe4;}
	.bgc3{background-color: #2b6be6;}
	.bgc4{background-color: #3d76e7;}
	.about{background: url(../images/slf/aboutpc.71d6a914.png) no-repeat;background-size: 100% 100%;display: flex;align-items: center;justify-content: center;height: 540px;}
	.company{overflow: hidden;}
	.company div{width: 50%;color: #fff;float: left;}
	.company h1{background: url(../images/slf/icon_f.png) no-repeat;padding-left: 40px;}
	.company h2{font-size: 16px;font-weight: normal;margin: 5px 0;padding-left: 20px;}
	.company p{font-size: 16px;padding: 10px 20px 10px 0px;}

	.ques{background: #2b6be6;height: 200px;}
	.ques a{font-size:48px;text-align: center;line-height: 200px;font-weight: bold;color: #fff;display: block;width: 100%;height: 100%;}
	
	.friend{margin: 40px auto;}
	.friend h1{background: url(../images/slf/icon_b.png) no-repeat;padding-left: 40px;}
	.friend h2{font-size: 16px;font-weight: normal;margin: 5px 0;padding-left: 20px;}
	.friend ul li{width: 160px;margin-bottom: 10px;}
	.friend ul li img{width: 100%;height: 100%;}
	.advantages{background: #4f83e9;height: 500px;color: #fff;}
	.advantages ul{display: flex;align-items: center;justify-content: center;}
	.advantages img{height: 200px;width: 100%;}
	.advantages .w img{height:95px;}
	.advantages .w{margin-top: 25px;}
	.advantages h1{background: url(../images/slf/icon_f.png) no-repeat;padding-left: 40px;}
	.advantages h2{font-size: 16px;font-weight: normal;margin: 5px 0 50px;padding-left: 20px;}

}
/*大屏结束*/

/*中屏*/
@media screen and (min-width : 768px) and (max-width : 999px) {
	/*轮播图*/
	.swiper-container {width: 100%;height: 100%;}
    .swiper-slide { text-align: center;font-size: 18px;background: #fff;/* Center slide text vertically */display: -webkit-box;display: -ms-flexbox;display: -webkit-flex;display: flex;-webkit-box-pack: center;-ms-flex-pack: center;-webkit-justify-content: center;justify-content: center;-webkit-box-align: center;-ms-flex-align: center;-webkit-align-items: center;align-items: center;width: 100% !important;
    }
    .swiper-wrapper .swiper-slide img{width: 100%;}
	/*轮播图结束*/
	.main{}
	.appDownload{width: 100%;position: relative;}
	.appDownload img{width: 100%;height: 100%;}
	a.download{text-align: center;border: 2px solid #fff;display: block;position:absolute;left: 0;right: 0;top: auto;bottom: 80px;width: 150px;height: 30px;font-size: 14px;font-weight: bold;line-height: 30px;margin: auto;color: #ffffff;border-radius: 20px;}
	a.download:hover{color: #3c76e7;transition: 0.5s all;background-color: #fff;}
	.appDownload ul{width: 100%;}
	.appDownload ul li{width: 25%;text-align: center;color: #fff;padding: 10px 0;}
	.appDownload ul li h1{font-size: 18px;}
	.appDownload ul li p{font-size: 12px;}
	.bgc1{background-color: #1858d3;}
	.bgc2{background-color: #1b5fe4;}
	.bgc3{background-color: #2b6be6;}
	.bgc4{background-color: #3d76e7;}
	.about{background: url(../images/slf/aboutpc.71d6a914.png) no-repeat;background-size: 100% 100%;display: flex;align-items: center;justify-content: center;height: 540px;}
	.company{overflow: hidden;width: 1000px;padding: 0 10px;}
	.company div{width: 50%;color: #fff;float: left;}
	.company h1{background: url(../images/slf/icon_f.png) no-repeat;padding-left: 40px;}
	.company h2{font-size: 16px;font-weight: normal;margin: 5px 0;padding-left: 20px;}
	.company p{font-size: 16px;padding: 10px 20px 10px 0px;}


	.ques{background: #2b6be6;height: 200px;}
	.ques a{font-size:48px;text-align: center;line-height: 200px;font-weight: bold;color: #fff;display: block;width: 100%;height: 100%;}


	.friend{padding: 20px 10px;}
	.friend h1{background: url(../images/slf/icon_b.png) no-repeat;padding-left: 40px;}
	.friend h2{font-size: 16px;font-weight: normal;margin: 5px 0;padding-left: 20px;}
	.advantages{background: #4f83e9;height: 520px;color: #fff;width: 1000px;}
	.advantages ul{display: flex;align-items: center;justify-content: center;}
	.advantages img{height: 200px;width: 100%;}
	.advantages .w img{height:95px;}
	.advantages .w{}
	.advantages h1{background: url(../images/slf/icon_f.png) no-repeat;padding:0px 0px 0 40px;margin: 20px 0px 0 20px;}
	.advantages h2{font-size: 16px;font-weight: normal;margin: 5px 0 50px 20px;padding-left: 20px;}
}
/*中屏结束*/

/*小屏*/
@media screen and (max-width : 767px){
	/*轮播图*/
	.swiper-button-next,.swiper-button-prev,.swiper-pagination{display: none !important;}
	.swiper-wrapper .swiper-slide img{width: 100%;}
	/*轮播图结束*/
	.main{}
	.appDownload{width: 100%;position: relative;}
	.appDownload img{width: 100%;height: 100%;}
	a.download{text-align: center;border: 0.026rem solid #fff;display: block;position:absolute;left: 0;right: 0;top: auto;bottom: 0.8rem;width: 4rem;height: 0.5rem;font-size: 0.3rem;font-weight: bold;line-height: 0.5rem;margin: auto;color: #ffffff;border-radius: 0.26rem;}
	a.download:hover{color: #3c76e7;transition: 0.5s all;background-color: #fff;}
	.appDownload ul{display: none;}
	.about{background: url(../images/slf/aboutpc.71d6a914.png) no-repeat;height: 100%;background-size: 100% 100%;}
	.company{padding: 0.5rem 0.2rem;color: #fff;}
	.company img{width: 100%;height: 100%;margin-top: 0.2rem;}
	.company h1{font-size: 0.4rem;}
	.company h2{font-size: 0.3rem;font-weight: normal;margin: 0.065rem 0;}
	.company p{font-size: 0.3rem;padding: 0.13rem 0.26rem 0.13rem 0rem;}




	.ques{background: #2b6be6;height: 1.6rem;}
	.ques a{font-size:0.624rem;text-align: center;line-height: 1.6rem;font-weight: bold;color: #fff;display: block;width: 100%;height: 100%;}








	.friend{padding: 0.3rem 0.2rem;}
	.friend h1{font-size: 0.4rem;}
	.friend h2{font-size: 0.3rem;font-weight: normal;margin: 0.065rem 0;}
	.friend ul li{width: 30%;margin: 0 0.08rem;}
	.friend ul li img{width: 100%;}
	.advantages{background: #4f83e9;color: #fff;width: 100%;}
	.advantages ul li{padding: 0.15rem;width: 45%;}
	.advantages img{width: 100%;}
	.advantages .w img{width: 100%;}
	.advantages .w{margin: 0.3rem 0.2rem 0;}
	.advantages h1{font-size: 0.4rem;}
	.advantages h2{font-size: 0.3rem;font-weight: normal;margin: 0.065rem 0;}
}
/*小屏结束*/ 
/*主体部分结束*/
