/*屏幕方案*/

/*大屏*/
@media screen and (min-width: 1000px) {
  /*主体部分*/
  #site {width: 100%;height: 100%;position: absolute;top: 0;left: 0;right: 0;}
  #c {position: absolute;z-index: -1;}
  .site_content {width: 100%;height: 100%;}
  .demo {height: 100vh;display: flex;cursor: pointer;align-items: center;justify-content: center;}
  .demo a {color: #000;}
  .demo h1 {text-align: center;font-size: 24px;}
  /*主体部分结束*/
}
/*大屏结束*/

/*中屏*/
@media screen and (min-width : 768px) and (max-width : 999px) {
  /*主体部分*/
  #site {width: 100%;height: 100%;position: absolute;top: 0;left: 0;right: 0;}
  #c {position: absolute;z-index: -1;}
  .site {width: 100%;height: 100%;}
  .demo {height: 100vh;display: flex;cursor: pointer;align-items: center;justify-content: center;}
  .demo a {color: #000;}
  .demo h1 {text-align: center;font-size: 24px;}
  /*主体部分结束*/
}
/*中屏结束*/

/*小屏*/
@media screen and (max-width: 767px) {
  /*主体部分*/
  #site {width: 100%;height: 100%;position: absolute;top: 0;left: 0;right: 0;}
  #c {position: absolute;z-index: -1;}
  .site_content {width: 100%;height: 100%;}
  .demo {height: 100vh;display: flex;cursor: pointer;align-items: center;justify-content: center;}
  .demo a {color: #000;}
  .demo h1 {text-align: center;font-size: 0.125rem;}
  /*主体部分结束*/
}
/*小屏结束*/
