/*公共底部样式*/

/*大屏*/
@media screen and (min-width : 1000px){

	/*备案区域样式*/
	
	/*备案区域样式结束*/
	.public_foot{display: flex;justify-content: center;align-items: center;background: #2969e4;height: 350px;}
	.public_foot .logo_foot{width: 210px;}	
	.public_foot .massage{padding: 0 50px;width: 600px;}
	.public_foot .massage li{color: #fff;font-size: 16px;margin-bottom: 20px;padding-left: 40px;float: left;}
	.public_foot .logo_1,.public_foot .logo_3{width: 20%;margin-right: 150px;}
	.public_foot .logo_2,.public_foot .logo_4{width: 40%;}
	.public_foot .gzh{width: 110px;height: 110px;}
	.public_foot .gzh img{width: 100%;height: 100%;}
	.public_foot .logo_1{background: url(../images/foot/tel.png) no-repeat;}
	.public_foot .logo_2{background: url(../images/foot/adr.png) no-repeat;}
	.public_foot .logo_3{background: url(../images/foot/e-mlie.png) no-repeat;}
	.public_foot .logo_4{background:url(../images/foot/hz_icon.png) no-repeat -41px 0;}
}
/*大屏结束*/

/*中屏*/
@media screen and (min-width : 768px) and (max-width : 999px) {
	/*备案区域样式*/

	/*备案区域样式结束*/
	.public_foot{display: flex;justify-content: center;align-items: center;background: #2969e4;height: 350px;}
	.public_foot .logo_foot{width: 210px;}	
	.public_foot .massage{padding: 0 20px;width: 300px;}
	.public_foot .massage li{color: #fff;font-size: 12px;margin-bottom: 10px;padding-left: 20px;float: left;}
	.public_foot .logo_1,.public_foot .logo_3{width: 40%;margin-right: 10px;}
	.public_foot .logo_2,.public_foot .logo_4{width: 40%;}
	.public_foot .gzh{width: 110px;height: 110px;}
	.public_foot .gzh img{width: 100%;height: 100%;}
	.public_foot .logo_1{background: url(../images/foot/tel.png) no-repeat;background-size: 16px 16px;}
	.public_foot .logo_2{background: url(../images/foot/adr.png) no-repeat;background-size: 16px 16px;}
	.public_foot .logo_3{background: url(../images/foot/e-mlie.png) no-repeat;background-size: 16px 16px;}
	.public_foot .logo_4{background:url(../images/foot/hz_icon.png) no-repeat -41px 0;}
}
/*中屏结束*/

/*小屏*/
@media screen and (max-width : 767px){

	/*备案区域样式*/

	/*备案区域样式结束*/
	.public_foot{background: #2969e4;padding: 0.4rem;}
	.public_foot .logo_foot{text-align: center;vertical-align: center;}	
	.public_foot .logo_foot img{width: 20%;text-align: center;vertical-align: center;}
	.public_foot .massage_b{margin: 0.2rem auto;}
	.public_foot .massage{width: 100%;}
	.public_foot .massage li{color: #fff;font-size: 0.4rem;margin-bottom: 0.13rem;width: 100%;}
	.public_foot .gzh{width: 1.43rem;height: 1.43rem;margin: 0 auto;}
	.public_foot .gzh img{width: 100%;height: 100%;text-align: center;}
	
	

}
/*小屏结束*/ 

/*公共底部样式结束*/
